* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    background-color: rgb(52, 52, 70);
    color: whitesmoke;
}

.navigation-bar a {
    text-decoration: none;
    color: whitesmoke; 
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;

}

.main-container {
    display: flex; 

}


.aside-section{
    background-color: aqua;
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-section {
    padding: 10px 5px;
    display: flex; 
    justify-content: center;
    width: 100%;
    position: relative;

}
.main-content-section  button {
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none; 
    border-radius: 5px; 
    font-weight: 700;
    background-color: gray;
    color: whitesmoke;
    cursor: pointer;
}

.main-content-section  button:hover {
    opacity: 0.8;
}
.main-content-section  button:active {
    opacity: 0.6;
}

.create-task {
    display: block;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border: 2px solid red;
    padding: 10px 20px;
}

.create-task label {
    font-size: 1.5rem;
}
.create-task input {
    height: 30px;
    font-size: 1.2rem;
    padding: 10px 5px; 
    border: none; 
    border-radius: 5px; 
    margin: 5px 0; 
}

.create-task input:focus{
    outline: none; 
}
